{% load static from staticfiles %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>知识问答赢大奖 百万旅游红包大派送  横店影视城2014年5-6月特惠</title>
<link rel="stylesheet" type="text/css" href="{% static "lottery/css/global.css" %}">
<script language="javascript"  type="text/javascript" src="{% static "lottery/js/jquery-1.11.1.min.js"%}"></script>
 <style>
body{
 font-family:"宋体","微软雅黑",Verdana, Geneva, sans-serif; ;   padding:0; margin:0 ;
}
span{display:block; float:left; margin-left:10px;  }

.zjDiv{width:375px; float:left; margin-top:10px;}
.fontQS{font-size:18px; line-height:40px; font-family:"微软雅黑","宋体"; color:#fff;} 
.tm{margin-top:30px;}
input{height:43px; background-color:transparent; font-family:Verdana,Geneva, sans-serif,"微软雅黑","宋体"; font-size:18px; border:0 ;}

 </style>

 
</head>

<body>
<div  style="width:1480px;  background-image:url({% static "lottery/images/background.jpg" %})  ; height:1527px; margin:0 auto;">

<div style="padding-top:606px; width:1039px;margin:0 auto;">
<!---->
 <div style="width:1039px; height:60px;   text-align:center;margin-top:8px; padding-top:14px; background-image:url({% static "lottery/images/cj_sj.jpg" %});">
<div style="display:block; margin-left:120px; width:285px; height:43px; text-align:left; float:left;">
<input type="text" id='mobile'  maxlength="11" style="width:285px; " ></div>
<div style="display:block; margin-left:120px; width:185px; height:43px; text-align:left; float:left;">
<input type="text" id='name'  maxlength="11" style="width:190px;" ></div>
<a href="#" onclick='return check_form();'><img src="{% static "lottery/images/cj_s.jpg" %}" width="134" height="41"  alt=""/></a> </div>

<!---->
<div style=" background-color:#ea5c50; height:auto; padding-top:50px; padding-left:80px; padding-right:80px;" >
<div style="font-size:24px; font-weight:bold; text-align:center; font-family:'微软雅黑'; margin-bottom:30px; color:#FFF;">查询结果</div>
<!---->
<div id="tm1" style="height:auto; text-align:center;" class="tm"  >
{% if has_prize_records|length > 0 %}
 <div class="fontQS">您抽中的奖品有：
	   {% for record in has_prize_records %}
			{{record.prize_name}} 1 张&nbsp;&nbsp;
	   {%endfor%}
	   </div>
{% else %}
	<div class="fontQS">您没有抽中的奖品</div>
{% endif %}
<div class="fontQS"></div>
</div>
 <br><br>
<!---->


 </div>
 <div style="padding-top:20px; padding-bottom:20px; text-align:center; background-color:#fad19d;"> <a href="http://e.hengdianworld.com/VisitorTicketOrder_1.aspx" target="_blank"><img src="{% static "lottery/images/cjr1.jpg" %}" width="285" height="41"  alt=""/></a>
  <a href="http://e.hengdianworld.com/VisitorHotelOrder_1.aspx" target="_blank"><img src="{% static "lottery/images/cjr2.jpg" %}" width="285" height="41"  alt=""/></a>
  <a href="http://e.hengdianworld.com/VisitorInclusiveOrder_1.aspx" target="_blank"><img src="{% static "lottery/images/cjr3.jpg" %}" width="285" height="41"  alt=""/></a>
<img src="{% static "lottery/images/cjr4.jpg" %}" width="1002" height="378"  alt=""/></div>
 </div>


<!---->


</div>

</div>

<div style="width:1480px; height:96px;   text-align:center; margin:0 auto; background-color:#ad4137;">
<img src="{% static "lottery/images/btm.jpg" %}" width="934" height="96"  alt=""/> 
</div>
</body>
</html>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F9ff376f3594e8e228b3b84e549ce332e' type='text/javascript'%3E%3C/script%3E"));
function check_form()
{
	var name = $.trim($('#name').val());
	var mobile = $.trim($('#mobile').val());
	if(name.length < 1 || mobile.length < 1){
		alert('请提供姓名和手机号码');
		return false;
	}
	
	//验证手机号格式
	var reg = /(^13\d{9}$)|(^15[0,1,2,3,5,6,7,8,9]\d{8}$)|(^18[0,2,5,6,7,8,9]\d{8}$)|(^147\d{8}$)/g ;  
    if(!reg.test(mobile)){
		alert("手机号码格式错误！");
		$('#mobile').focus();
		return false;
	}	
	window.location = '/lottery/choujiang_search/?name='+name+'&mobile='+mobile;
	//return true;
}
</script>