.divBorder
{
    border: 1px solid #808080;
    overflow: hidden;
    width: 750px;
    padding: 0;
    margin: 0px;
}

.divScroll
{
    width: 750px;
    height:440px;
    overflow-x: auto;
    overflow-y: auto;
}