@charset "utf-8";
/* color style */
.white{ color:#fff;}
.col1{ color:#5d5d5d;}
.col2{ color:#333333;}
.col3{ color:#575757;}
.col4{ color:#ff3000;}
.col5{ color:#646464;}
.col6{ color:#484848;}
.col7{ color:#fc8331;}
.col8{ color:#ddb075;}
.col9{ color:#999999;}
.red{ color:#af0e20;}
.red02{ color:#c54600;}
.blue{ color:#1062d1;}
.blank10{ width:100%; height:10px; font-size:0;}
.blank20{ width:100%; height:20px; font-size:0;}
.blank37{ width:100%; height:37px; font-size:0;}
.blank55{ width:100%; height:55px; font-size:0;}
.blank80{ width:100%; height:80px; font-size:0;}
.borderStyle{border:solid 1px #e0e0e0;}
.pr30{padding-right:30px;}
.pt5{padding-top:5px;}
.ptb12{padding:12px 0;}
.ptb22{padding:22px 0;}
.ptb3{padding:3px 0;}
.pt10{padding-top:10px;}
.pb10{padding-bottom:10px;} 
.pl10{padding-left:10px;}
.pr10{padding-right:10px;}
.mt5{margin-top:5px;}
.ml10{margin-left:10px;}
.mt20{margin-top:20px;}
.mt40{margin-top:40px;}
.lh26{line-height:26px;}
.middle960{ width:960px; margin:0 auto;}
.middle964{ width:964px; margin:0 auto;}
.middle980{ width:980px; margin:0 auto;}
.alignLeft{ text-align:left!important;}
.minHeight530{ min-height:530px; height:auto!important; height:530px; overflow:visible;}
.padding1px{padding:1px;}
.relative{ position:relative;}
.tipIco{padding-left:18px;background:url(../img/icon/tip.gif) no-repeat left center;}
.dottedline01{ height:0;line-height:0; font-size:0; border-bottom:dotted 1px #b2b2b2;}
.dottedline02{margin:0 13px; height:0;line-height:0; font-size:0; border-bottom:dotted 1px #b2b2b2;}
.a1{ color:#7e7d7d;padding-left:13px;}
.bgWhite{background:#fff;}
.line{ height:0;line-height:0px; border-bottom:solid 1px #e6e6e6; font-size:0;}
.line3{ width:95%; margin:0 auto;line-height:0px; border-bottom:solid 1px #e6e6e6; font-size:0;}
.line2{height:0;line-height:0px; border-bottom:solid 1px #f2f2f2; font-size:0;}
.iconVideo{padding-left:22px;background:url(../img/icon/video.gif) no-repeat left center;}
.minHeightStyle{min-height:620px; height:auto!important; height:620px; overflow:visible;}
/**inSearch*/

.inSearch .sideLeft,.inSearch .sideRight{ float:left; display:inline;}
.inSearch .inSearchEara{ width:960px; float:left; display:inline;  zoom:1;background:url(../img/bg/bg_inSearch.gif) repeat-x; }
.inSearchEara .Fld{  float:left; display:inline; margin:0 0 0 20px;}
.inSearchEara .Fld strong{  font-size:16px; color:#fff; line-height:67px; float:left; display:block;}
.Fld .select{ width:177px; position:relative; float:left; display:inline;}
.Fld .select .input{ width:160px; height:35px; line-height:35px;background:url(../img/bg/bg_select.gif) no-repeat left center; border:none; margin:15px 0 0;padding-left:17px;}
.Fld .select .dropSelect{ width:175px; position:absolute; top:49px; left:0;background:#fff; border:solid 1px #aaabaa; border-top:none; z-index:99; display:none;}
.Fld .select .dropSelect a{ display:block; text-indent:15px;}
.inSearchEara .button{ width:86px; height:37px;background:url(../img/btn/button03.gif) no-repeat; cursor:pointer; border:none; float:left; display:inline; margin:15px 0 0 16px;}

.dropScenic{ width:457px; position:absolute; left:0; top:49px;background:#fff; border:solid 1px #d0d0d0; display:none;}
.dropScenic .head{ line-height:33px;background:#dfdfdf;padding-left:17px; font-weight:bold;}
.dropScenic .eara{ overflow:hidden; zoom:1; line-height:33px; border-bottom:dotted 1px #bababa; margin:0 auto; width:95%;}
.dropScenic .eara span{ display:block; width:63px;padding-left:12px; float:left; font-weight:bold;}
.dropScenic .eara .box{ width:300px; overflow:hidden;}
.dropScenic .eara .box a{  line-height:33px;padding:0 12px;}
.dropScenic .eara2{overflow:hidden; zoom:1; line-height:33px;  margin:0 auto; width:95%;padding:0 0 20px 0;}
.dropScenic .eara2 ul{margin-left:12px;}
.dropScenic .eara2 li{ float:left; line-height:30px; width:138px;}

/**page style**/
.page{padding:22px 0;}
.page a{ border:solid 1px #cccccc; margin-right:7px;padding:3px 10px;}
.page .pagePrev{background:url(../img/bg/pagePrev.gif) no-repeat left center;}
.page .pageNext{background:url(../img/bg/pageNext.gif) no-repeat right center;}
.page .input{ width:30px; height:18px; border:solid 1px #999999; text-align:center; line-height:18px; margin:0 5px;}


/****/

.sidekf{position:absolute; top:100px; right:100px;}
.sidekf .sidekfContainer{ width:752px; height:326px;background:#fff; border:solid 1px #dbdbdb; z-index:999; position:absolute; right:0; top:93px; display:none;}
.sidekf .sidekfContainer .fnEara{line-height:27px; position:absolute; right:0; top:0;}
.sidekf .sidekfContainer .fnEara a{padding-right:20px }
.sidekf .sidekfContainer .tabCurr{ height:27px; border-bottom:solid 1px #dbdbdb; overflow:hidden; zoom:1;background:url(../img/bg/bgTab3.gif) repeat-x;}
.sidekf .sidekfContainer .tabCurr li{ float:left;line-height:27px;padding:0 23px; border-right:solid 1px #dbdbdb; cursor:pointer;}
.sidekf .sidekfContainer .tabCurr li.focus{border-right:solid 1px #dbdbdb;background:url(../img/bg/bgTab3_focus.gif) repeat-x;}
.sidekf .sidekfContainer .list{ width:115px; height:277px; overflow:hidden; float:left; display:inline; padding:10px 13px; border-right:solid 1px #cbcbca;}
.sidekf .sidekfContainer .list li{line-height:25px; border-bottom:dotted 1px #cbcbca;padding-left:18px;background:url(../img/icon/icon03.gif) no-repeat left center; cursor:pointer;}
.sidekf .sidekfContainer .cont{ width:610px; float:left;height:297px; overflow:hidden;background:url(../img/bg/bgLine.gif) no-repeat 307px top;}
.sidekf .sidekfContainer .imglist li{ width:278px; height:70px; overflow:hidden;zoom:1;float:left; display:inline;margin:25px 15px 0 12px;}
.sidekf .sidekfContainer .imglist li .img{padding:1px; border:solid 1px #d6d6d6; float:left;}
.sidekf .sidekfContainer .imglist li .text{ width:182px; float:left; display:inline;margin-left:10px;}
.sidekf .sidekfContainer .imglist li .text h1{line-height:25px;background:url(../img/bg/bgLine02.gif) no-repeat bottom;}
/**slider*/
.sidekf .sidekfContainer .imglist li .text h1 a{ font-weight:bold; color:#585858; padding-right:15px;}
.sidekf .sidekfContainer .imglist li .text h1 em{ color:#c30d23;font-family: Arial, Helvetica, sans-serif;}
.channelSliderBig{width:592px; height:263px; float:left; display:inline;margin:7px 0 0 7px; position:relative;}
.channelSliderBig .textEara{ width:100%; height:27px; position:absolute; left:0;bottom:0;}
.channelSliderBig .textEara .bg{width:100%; height:27px;background:#000; filter:alpha(opacity=50);opacity:0.5; position:absolute; left:0; top:0;}
.channelSliderBig .textEara .text{line-height:27px; text-indent:1em; color:#d0d3d3; position:relative; z-index:9;}
.channelSliderList{ width:67px; height:263px; float:left; display:inline;margin-top:7px;}
.channelSliderList li{margin-bottom:2px;}
.channelSliderList li a{ width:67px; height:44px; display:block; background:url(../img/bg/bg_sliderList.gif) no-repeat 6px center;padding-left:6px;}
.channelSliderList li a:hover{background:url(../img/bg/bg_sliderList_focus.gif) no-repeat;}
.channelSliderList li.focus a{background:url(../img/bg/bg_sliderList_focus.gif) no-repeat;}
.channelSliderList li img{ display:block;padding:3px 0 0 3px;   }

.infoSliderBig{width:378px; height:270px; display:inline;}
.infoSliderBig2{width:300px; height:214px; display:inline;}
.infoSliderBig .big{ display:block; margin:7px auto 0 auto;}
.infoSliderList{ width:378px; overflow:hidden; zoom:1;}
.infoSliderList ul{margin-left:23px;}
.infoSliderList li{ float:left;}
.infoSliderList li a{ width:61px; height:44px; display:block; background:url(../img/bg/bg_sliderList2.gif) no-repeat 0 6px;padding-top:5px;margin-right:7px;}
.infoSliderList li a:hover{background:url(../img/bg/bg_sliderList_focus2.gif) no-repeat;}
.infoSliderList li.focus a{background:url(../img/bg/bg_sliderList_focus2.gif) no-repeat;}
.infoSliderList li img{ display:block; padding:3px 0 0 3px;   }

.infoSliderBig2{width:378px; display:inline;}
.infoSliderBig2 .big{ display:block; margin:7px auto 0 auto;}
.infoSliderList2{ width:658px; overflow:hidden; zoom:1;}
.infoSliderList2 ul{margin-left:23px;}
.infoSliderList2 li{ float:left;}
.infoSliderList2 li a{ width:111px; height:70px; display:block; padding-top:6px;margin-right:7px;}
.infoSliderList2 li a:hover{background:url(../img/bg/bg_sliderList_focus4.gif) no-repeat;}
.infoSliderList2 li.focus a{background:url(../img/bg/bg_sliderList_focus4.gif) no-repeat;}
.infoSliderList2 li img{ display:block; padding:3px 0 0 3px;   }

/**store**/
.store{ border:solid 1px #e0e0e0;}
.store .left{ width:608px;}
.store .img{background:#fff;padding:2px; display:block;}
.store .sift{background:#ebebeb;padding:5px 0;}
.store .sift p{line-height:24px;padding-left:18px; color:#4d4d4d;}
.store .sift p a{padding-left:26px;}
.store .right{ width:315px;padding:0 20px; height:330px;background:url(../img/bg/bg08.gif) repeat-y;}
.store .right td{ border-bottom:dotted 1px #cbcbca;padding:8px 0;}
.store .right .list li{padding-left:20px;background:url(../img/icon/icon03.gif) no-repeat left center;}

.store .right .list2{margin-left:50px;}
.store .right .list2 dt{ font-size:14px; font-weight:bold;}
.store .right .list2 dd{padding-left:20px;background:url(../img/icon/icon03.gif) no-repeat left center;}
.store .btn{ width:102px; height:30px;line-height:30px; text-align:center;background:url(../img/btn/button10.gif) no-repeat; float:left; display:inline; color:#a40000;margin:0 26px;}
.store .btnEara{ overflow:hidden;zoom:1;padding:22px 0;}
/**groupon**/
.groupon .mFrame{ width:677px; float:left; display:inline;}
.groupon .mFrame .showEara{ width:675px; height:410px;background:#fbfafa; border:solid 1px #e2e2e2;}
.groupon .mFrame .showEara .title{ color:#262525; width:640px;line-height:38px; display:block; margin:0 auto; font-size:28px;font-family:"微软雅黑";}
.groupon .mFrame .showEara .title .strong{ color:#c30d23; }
.groupon .mFrame .showEara .functionBox { width:640px; margin:10px auto; overflow:hidden;}
.groupon .mFrame .showEara .functionBox .left{ width:210px;}
.groupon .mFrame .showEara .functionBox .left .head{line-height:51px;background:url(../img/bg/bg09.gif) no-repeat; overflow:hidden;zoom:1;}
.groupon .mFrame .showEara .functionBox .left .head span{ color:#fff; font-size:28px;font-family:"微软雅黑"; float:left;padding-left:13px;}
.groupon .mFrame .showEara .functionBox .left .btn{ width:80px; height:37px;line-height:37px; color:#535353; font-size:28px;font-family:"微软雅黑";background:url(../img/btn/button13.gif) no-repeat; display:block; float:right; text-align:center;margin:7px 8px 0 0;}
.groupon .mFrame .showEara .functionBox .cont{ width:210px; height:227px;background:url(../img/bg/bg10.gif) no-repeat;}
.groupon .mFrame .showEara .functionBox .cont .p1{line-height:30px; color:#909090; }
.groupon .mFrame .showEara .functionBox .cont .p2{line-height:30px; color:#3e3e3e; font-size:20px;font-family:"微软雅黑"; }
.groupon .mFrame .showEara .functionBox .cont .p3{line-height:30px; color:#6c6c6c; font-size:14px; }
.groupon .mFrame .showEara .functionBox .right .share{padding-left:90px;background:url(../img/icon/share.gif) no-repeat 65px center; line-height:38px;}
.groupon .mFrame .showEara .functionBox .right .check{padding-left:60px;}

.groupon .mFrame .desEara{ width:675px;  border:solid 1px #cfcfcf;margin-top:10px;}
.groupon .mFrame .desEara .tabCurr{ overflow:hidden;zoom:1; border-bottom:solid 1px #cfcfcf;}
.groupon .mFrame .desEara .tabCurr li{line-height:35px;padding:0 10px;background:url(../img/bg/bg12_1.gif) repeat-x; border-right:solid 1px #cfcfcf; float:left; text-align:center; color:#6b6b6b; cursor:pointer;}
.groupon .mFrame .desEara .tabCurr li.focus{background:url(../img/bg/bg12_2.gif) repeat-x; color:#565555;}
.groupon .mFrame .desEara .boxs{padding:30px 20px 20px;background:url(../img/bg/bg11.gif) repeat-x; }
.groupon .mFrame .desEara .boxs p{color:#5d5d5d;line-height:24px;}

.noticeEara{ width:410px; position:absolute;top:50%;left:50%;margin-left:-205px; z-index:99;}
.noticeEara .cont{background:url(../img/bg/noticeEaraBg.gif) repeat-y;}
.noticeEara .head{line-height:28px; text-align:center; font-weight:bold; color:#505050; font-weight:bold; border-bottom:solid 1px #e7e7e7;}
.noticeEara .list li{width:370px;padding:0 7px;margin-left:11px;line-height:32px; border-bottom:dotted 1px #b3b3b3;}
.noticeEara .list .toTop{ color:#595959;padding-right:12px}
.noticeEara .list li a{padding-left:7px; color:#595959;}
.noticeEara .close{padding-right:15px; cursor:pointer;}

/**mycart**/
.mycart{ width:758px; margin:0 auto;}
.mycart .title{line-height:50px; font-size:14px; font-weight:bold; color:#505050;}
.mycart .btnMinus{ width:25px;height:22px; border:none;background:url(../img/btn/btnMinus2.gif) no-repeat; cursor:pointer;}
.mycart .num{ width:25px; height:20px; border:solid 1px #d6d6d6; margin:0 8px; text-align:center;}
.mycart .btnAdd{ width:25px;height:22px; border:none;background:url(../img/btn/btnAdd2.gif) no-repeat; cursor:pointer;}
.mycart .checkbox{margin:5px 0 0 15px; float:left; display:inline;}
.mycart .checkbox2{margin:12px 0 0 15px; float:left; display:inline;}
.mycart .checkall{margin:12px 0 0 15px; float:left; display:inline;}
.mycart .delete{ width:44px; height:23px;line-height:23px; border:solid 1px #cacaca; text-align:center; color:#686868; display:block;background:url(../img/bg/bgBtn.gif) repeat-x;}
.cartList thead{background:#ebebeb;line-height:36px;}
.cartList th{ font-weight:normal;}
.cartList td{ border-bottom:dotted 1px #d7d7d7;padding:10px 0; vertical-align:top; text-align:center;}
.cartFn .empty{ color:#c77c02; font-weight:bold;padding-left:35px;}
.cartFn{line-height:34px;background:#fbfbfb; border:solid 1px #e1e1e1;margin:14px 0;}
.promotion p{line-height:28px;}
.promotion .checkbox{ margin:8px 5px 0 15px; float:left;}

.contactInfo{margin-left:20px; border-top:dotted 1px #aaaaaa;border-bottom:dotted 1px #aaaaaa;padding:7px 0;}
.contactInfo .head{line-height:44px;padding-left:7px;}
.contactInfo .table {padding-left:23px;}
.contactInfo .table em{ color:#ff0000;padding:0 6px; color:#ff0000;}
.contactInfo .table td{padding:6px 0;}
.contactInfo .table p{ color:#a7a7a7;padding-left:20px;line-height:18px;}
.contactInfo .input2{ width:101px; height:21px;line-height:21px; border:solid 1px #d4d4d4; color:#c1c1c1;}
.contactInfo .input{ width:130px; height:21px;line-height:21px; border:solid 1px #d4d4d4; color:#c1c1c1;}
.contactInfo .input3{ width:280px; height:21px;line-height:21px; border:solid 1px #d4d4d4; color:#c1c1c1;}
.contactInfo .select{ border:solid 1px #8190a1;margin-left:5px;}

.contactInfo2{ border-bottom:dotted 1px #aaaaaa;padding:7px 0;}
.contactInfo2 h5{line-height:44px;padding-left:7px;}
.contactInfo2 .table em{ color:#ff0000;padding:0 6px; color:#606060;}
.contactInfo2 .table td{padding:6px 0;}
.contactInfo2 .table p{ color:#a7a7a7;padding-left:20px;line-height:18px;}
.contactInfo2 .input2{ width:101px; height:21px;line-height:21px; border:solid 1px #d4d4d4; color:#c1c1c1;}
.contactInfo2 .input{ width:130px; height:21px;line-height:21px; border:solid 1px #d4d4d4; color:#c1c1c1;}
.contactInfo2 .select{ border:solid 1px #8190a1;margin-left:5px;}

.note{margin-left:20px;}
.note .head{line-height:30px; font-weight:bold;}
.note .textarea{ width:362px; height:130px;margin-left:52px; border:solid 1px #d3d3d3;}

/**address*/
.address{ width:685px; margin:0 auto; overflow:hidden;}
.address .table td{padding:7px 0; color:#606060;}
.address .table td em{ color:#ff0000;padding:0 10px;}
.address .table td span{ color:#aaaaaa;}
.address .input{ width:247px; height:21px; line-height:21px;  border:solid 1px #d4d4d4;}
.address .input2{ width:149px; height:21px; line-height:21px;  border:solid 1px #d4d4d4;}
.address .input3{ width:83px; height:21px; line-height:21px;  border:solid 1px #d4d4d4;}
.address .textarea{ width:367px; height:52px; line-height:21px;  border:solid 1px #d4d4d4;}
.address .select{ border:solid 1px #7494b2;}
.address .table2{ border:solid 1px #dcdcdc;}
.address .table2 thead{line-height:34px;background:url(../img/bg/bg15.gif) repeat-x;}
.address .table2 th{ font-weight:normal; color:#5f5f5f;}
.address .table2 td{ text-align:center;line-height:45px; color:#404040;}
.address .table2 td a{ color:#3366cc;padding:0 6px;}

/****/
.passChange table{ width:515px; margin-left:44px;}
.passChange td{font-size:14px; color:#606060;padding:12px 0;}
.passChange span{ color:#aaaaaa;padding:0 15px; font-size:12px;}
.passChange .input{ width:248px; height:21px;line-height:21px; border:solid 1px #d4d4d4;}
.passChange .button{ width:92px; height:38px;background:url(../img/btn/button16.gif) no-repeat; cursor:pointer; border:none;}

/****/
.jifen .title{font-size:14px; color:#4d4d4d; font-weight:bold;line-height:40px;padding-left:5px;}
.jifen .head{line-height:34px;background:#fff9ee; border:solid 1px #f1e9db;}
.jifen .head td{ text-align:center;}
.jifen .listTable { border:solid 1px #e6e6e6;margin-top:8px;}
.jifen .listTable thead{background:#f3f3f3;line-height:30px;}
.jifen .listTable th{font-weight:normal;padding-left:13px; }
.jifen .listTable td{padding-left:13px;line-height:30px;padding:10px 0 ; }
.jifen .listTable td span{padding-left:13px; color:#353535;}
.jifen .listTable .button{ width:69px;}
.jifen .listTable strong.col7{ font-size:14px;}

/**oldGroupon**/
.oldGroupon{background:#fbfafa; border:solid 1px #e2e2e2;}
.oldGroupon .title{font-size:14px; color:#4d4d4d; font-weight:bold;line-height:40px;padding-left:20px;}
.oldGroupon .earaList{ width:635px; margin:0 auto;}
.oldGroupon .earaList li { width:297px; float:left; display:inline;padding:0 10px 39px 10px; border-bottom:solid 1px #e5e5e5;margin-bottom:40px;}
.oldGroupon .earaList li .head{ overflow:hidden;zoom:1;line-height:23px;}
.oldGroupon .earaList li .head strong{ float:left; color:#4d4d4d; font-size:14px;}
.oldGroupon .earaList li .head .btn{padding:0 8px;background:url(../img/bg/bgBtn23.gif) repeat-x;line-height:23px; float:right; color:#fff;}
.oldGroupon .earaList li .para{padding:5px 0; color:#383838;line-height:20px;}
.oldGroupon .earaList li .img{padding:0 15px 0 0;}
.oldGroupon .earaList li .cont a{ color:#c30d23; text-decoration:underline;}
.oldGroupon .earaList li .cont p{ color:#242424;}
.oldGroupon .earaList li .strong{ color:#c30d23; font-size:16px;}

/***payment***/
.payTip{ overflow:hidden;padding:20px 0; zoom:1;}
.payTip .info{ float:left; display:inline; background:url(../img/right.gif) no-repeat left center;padding-left:50px;}
.payTip .info .p1{ font-size:16px; color:#936a24; font-weight:bold;line-height:24px;}
.payTip .info .p2{ color:#717171;line-height:20px;}
.payTip .price{ float:right;padding-top:10px;}
.payTip .price strong{ color:#4d4d4d; font-size:14px;}
.payTip .price span{ color:#e6001c; font-size:30px;font-family:"微软雅黑";}

.payTip .info2{width:540px; margin:0 auto;background:url(../img/rightB.gif) no-repeat left center;padding-left:80px;}
.payTip .info2 .p1{ font-size:16px; color:#936a24; font-weight:bold;line-height:24px;}
.payTip .info2 .p2{ color:#717171;line-height:20px;}

.Netsilver .cont{ overflow:hidden; zoom:1;padding:10px 25px 0 25px;}
.Netsilver .cont label{ float:left; display:inline;}
.Netsilver .cont input{ float:left;margin:10px 5px 0 0; display:inline;}
.Netsilver .text{ float:left; display:inline; margin-left:14px;}
.Netsilver .text p{line-height:16px;}
.Netsilver .text p.para{ color:#5b5b5b;}
.Netsilver h1{line-height:24px;padding-left:12px; border-bottom:solid 3px #ebebeb;background:url(../img/bg/bg16.gif) no-repeat right center;}

.insideNotice .head{line-height:32px; font-weight:bold; color:#4d4d4d;padding-left:5px;}
.insideNotice .delete{margin-top:5px; display:inline; float:left;margin-left:10px;}
.insideNotice .checkAll{ float:left; display:inline; margin:0 0 0 83px}
.insideNotice .checkAll input{margin:5px 10px 0 0;}
/***button**/
.btnNotice{width:76px; height:25px; line-height:25px;background:url(../img/btn/button09.gif) no-repeat; display:block; text-align:center; font-weight:bold; color:#555555;}

.button70{ width:70px; height:30px;line-height:30px; text-align:center; color:#959595;background:url(../img/btn/button22.gif) no-repeat; display:block;}

.button46{ width:46px; height:25px;line-height:25px; color:#fc8331;background:url(../img/btn/button23.gif) no-repeat; display:block;}
.button46_2{ width:46px; height:25px;line-height:25px; background:url(../img/btn/button23.gif) no-repeat; display:block; text-align:center}
.buttonStyle01{padding:5px 21px; height:23px;line-height:23px; text-align:center; color:#fff;background:url(../img/bg/bgBtn2.gif) repeat-x;}
.buttonStyle02{ width:92px; height:28px;background:url(../img/btn/button50.gif) no-repeat; border:none; cursor:pointer;margin:15px 0;}
.buttonStyle03{ width:102px; height:30px;line-height:30px; text-align:center; color:#fff; font-weight:bold;background:url(../img/btn/button10.gif) no-repeat; border:none; cursor:pointer;}
.buttonStyle04{ width:80px; height:30px;line-height:30px; font-size:14px;text-align:center; color:#666666; font-weight:bold;background:url(../img/btn/button30.gif) no-repeat; border:none; cursor:pointer; display:block; }
.inputSubmit{ width:90px; height:37px;background:url(../img/btn/submit.gif) no-repeat; border:none; cursor:pointer;}
.inputCancel{ width:90px; height:37px;background:url(../img/btn/cancel.gif) no-repeat; border:none; cursor:pointer;}
.inputReset{ width:74px; height:28px;background:url(../img/bg/bg26.gif) repeat-x; border:none; cursor:pointer; color:#fff;}

.inputSubmit2{ width:107px; height:30px;background:url(../img/btn/button54.gif) no-repeat; border:none; cursor:pointer;}
.inputCancel2{ width:107px; height:30px;background:url(../img/btn/button55.gif) no-repeat; border:none; cursor:pointer;}

.inputSubmit3{ width:93px; height:28px;background:url(../img/bg/bg26.gif) repeat-x; border:none; cursor:pointer; margin:0 10px; color:#fff;}
/****/
.L_hotel{width:335px; height:302px; overflow:hidden; float:left; display:inline;}
.L_hotel .tabCurr{ overflow:hidden;zoom:1;background:url(../img/bg/bgTab_head.gif) repeat-x;padding-left:5px;}
.L_hotel .tabCurr li{ float:left; border-bottom:solid 1px #dcdcdc; overflow:hidden;zoom:1;background:url(../img/bg/bgTab2.gif) repeat-x; cursor:pointer;}
.L_hotel .tabCurr li span.m{ float:left; height:28px; display:block;padding:0 18px 0 3px;background:url(../img/icon/icon07.gif) no-repeat right center;}
.L_hotel .tabCurr li span.i{ width:4px; height:28px; float:left; display:block;background:url(../img/bg/tabRoundLeft.gif) no-repeat;}
.L_hotel .tabCurr li span.o{ width:4px; height:28px; float:left; display:block;background:url(../img/bg/tabRoundRight.gif) no-repeat left top;}

.L_hotel .tabCurr li.focus{background:url(../img/bg/bgTab2_focus.gif) repeat-x; border-bottom:solid 1px #f6f6f6;}
.L_hotel .tabCurr li.focus span.m{ float:left; height:28px; display:block;padding:0 18px 0 3px;background:url(../img/icon/icon07_focus.gif) no-repeat right center;}
.L_hotel .tabCurr li.focus span.i{ width:4px; height:28px; float:left; display:block;background:url(../img/bg/tabRoundLeft_focus.gif) no-repeat;}
.L_hotel .tabCurr li.focus span.o{ width:4px; height:28px; float:left; display:block;background:url(../img/bg/tabRoundRight_focus.gif) no-repeat left top;}

.L_hotel .tabox{ height:272px; border-left:solid 1px #e1e1e1;border-right:solid 1px #e1e1e1;border-bottom:solid 1px #e1e1e1;}
.L_hotel .imglist{ width:305px; margin:0 auto;padding:20px 0 5px 0;}
.L_hotel .imglist .para{ display:block;width:95px; height:30px; overflow:hidden;}
.L_hotel .more{ color:#ff0000;padding-right:13px;line-height:32px;}

.L_quality{ width:370px; height:299px; float:left; display:inline; margin-left:10px;border:solid 1px #dcdcdc;}
.L_quality .head{ height:40px;line-height:40px; overflow:hidden;zoom:1;}
.L_quality .head strong{ font-size:14px; font-weight:bold;padding-left:17px; color:#696969;}
.L_quality .head a{ float:right;padding-right:17px; color:#444444;font-family:"宋体";}
.L_quality .cont{ width:349px; margin:0 auto; overflow:hidden;}
.L_quality .cont .p1{ color:#353535;line-height:24px;}
.L_quality .cont .p2{ color:#727272;}

.L_evaluate{ width:239px; height:299px;float:right; display:inline;background:#f7f7f7; border:solid 1px #dcdcdc;}
.L_evaluate .head{ width:226px; display:block; margin:0 auto; height:35px;line-height:35px; border-bottom:solid 1px #e5e5e5; color:#3f3f3f;}
.L_evaluate .head strong{padding-left:5px;}
.L_evaluate .list{ width:215px; margin:0 auto;}
.L_evaluate .list li{ border-bottom:dotted 1px #cbcbca;padding:13px 0; color:#5d5d5d;}
.L_evaluate .list li span{ color:#ff7e00;}
.L_evaluate .list li em{color:#9a9a9a;}

.rechargeBox{padding:10px 0 10px 23px; font-size:14px; color:#717171;}
.rechargeBox .input{ width:181px; height:27px;line-height:27px; text-indent:1em; border:solid 1px #dadada; margin:0 10px;}

.coopGallery{ height:153px; border:solid 1px #dedede;background:#f7f7f7;}
.coopGallery .head{ width:95%;line-height:41px; margin:0 auto;padding-bottom:7px;background:url(../img/bg/bg02_2.gif) repeat-x bottom;}
.coopGallery .head strong{ font-size:14px;padding-left:5px; color:#5a5a5a; }
.coopGallery .cont{ width:930px; margin:17px auto 0 auto; height:72px; overflow:hidden;}

.coopBox{ border:solid 1px #e0e0e0; float:left; display:inline;}
.coopBox .head{ width:95%; margin:0 auto;line-height:36px;padding-bottom:7px;background:url(../img/bg/bg02.gif) repeat-x bottom;}
.coopBox .head strong{ font-size:14px;padding-left:5px;}
.coopBox  .list li{padding-left:24px;background:url(../img/icon/icon11.gif) no-repeat 10px center;line-height:23px;}

.coopLeft{ width:330px; height:327px;}
.coopLeft .cont{ width:95%; margin:0 auto;padding-top:12px;}
.coopLeft .cont p{line-height:26px; color:#696969;}
.coopLeft .img{padding:2px; border:solid 1px #c5c5c5;margin:0 14px 10px 0;}
.coopMiddle{ width:283px; height:327px; margin:0 7px;}
.coopMiddle .cont{width:95%;margin:0 auto;padding-top:12px;}
.coopRight{ width:330px; height:327px;}
.coopRight .cont{ width:95%; margin:0 auto;}
.coopRight .cont p{line-height:25px;}
.coopRight .head strong.i1{padding-left:65px;background:url(../img/icon/icon12.gif) no-repeat 0 5px;display:block;line-height:41px;}
.coopRight .head strong.i2{padding-left:65px;background:url(../img/icon/icon13.gif) no-repeat 0 5px;display:block;line-height:41px;}
.coopRight .list{padding-top:12px;}
.coopRight .list li span{ color:#980000;}

.contact .p1{ font-size:14px; color:#b68000;padding:0 30px;line-height:50px; font-weight:bold;}
.contact p{line-height:26px;padding-left:30px; font-size:14px;}
.contact .dottedline01{margin:10px 0;}

.searchColumn .searchEara{ overflow:hidden; margin:15px 0 20px 0;}
.searchColumn .textinput{ width:757px; height:32px; text-indent:2em; border:solid 1px #dddddd; float:left; display:inline;margin-left:25px; font-size:14px;}
.searchColumn .submit{ width:81px; height:33px;background:url(../img/btn/button42.gif) no-repeat; border:none; cursor:pointer; float:left; display:inline;margin-left:5px;}

.searchColumn .list{ width:926px; margin:0 auto;}
.searchColumn .list li{ border-bottom:dotted 1px #a1a1a1;padding:10px 0;}
.searchColumn .list li h1 a{ font-size:14px; color:#1b1b1b;line-height:25px;padding-left:5px;}
.searchColumn .list li .para{ font-size:14px; color:#767676;line-height:25px;padding-left:5px;}
.searchColumn .list li .strong{ color:#c30202;}
.searchColumn .list li .place{ color:#0068aa;font-family:"宋体";}
.searchColumn .list li .place a{ color:#0068aa;padding:0 5px;}

.searchColumn .hotEara{ width:930px;background:#ececec; margin:0 auto;padding:15px 0 25px 0; overflow:hidden;zoom:1;}
.searchColumn .hotEara .title{ width:105px; float:left; font-size:14px; text-align:center; font-weight:bold; color:#484848;}
.searchColumn .hotEara .list2 { float:left; width:820px;}
.searchColumn .hotEara .list2 li{ float:left;width:160px; overflow:hidden;line-height:24px;}
.searchColumn .hotEara .list2 li a{ color:#484848;}

.suggest{padding-top:10px;}
.suggest td{padding:10px 0;}

.contentInfo .left{ width:675px; border:solid 1px #e2e2e2; min-height:815px; height:auto!important; height:815px; overflow:visible; }
.contentInfo .left .textTitle{ font-size:16px; color:#656565; text-align:center;line-height:35px;padding-top:10px; font-weight:bold;}
.contentInfo .left .subTitle{ width:95%; margin:0 auto; display:block; color:#8e8e8e; text-align:center;padding-bottom:5px; border-bottom:dotted 1px #b8b8b8;}
.contentInfo .left .cont{ width:95%; margin:0 auto; overflow:hidden;}
.contentInfo .left .cont p{line-height:25px; color:#404040;padding-bottom:25px;}
.contentInfo .left .related{ width:634px; margin:0 auto; border-top:dotted 1px #acacac;margin-top:20px;}
.contentInfo .left .related .head{ font-weight:bold; color:#545454;line-height:30px;}

.contentInfo .right{ width:279px; border:solid 1px #e2e2e2;background:#f7f7f7;padding-bottom:50px;}
.contentInfo .right .ad{padding-top:3px; text-align:center;}
.contentInfo .right .head{padding-top:15px; width:260px; margin:0 auto; border-bottom:solid 1px #e5e5e5;margin-bottom:12px;}
.contentInfo .right .head strong{padding-left:5px;line-height:28px;}
.contentInfo .right .cont{ width:260px; margin:0 auto;}

.coupons{ width:711px; margin:0 auto;}
.coupons h1{ color:#464544; font-size:14px; font-weight:bold;line-height:60px;}
.coupons p{ text-indent:2em; color:#767676;}

.InvesLeft{ width:510px; float:left; border-right:solid 1px #dcdcdc;margin-top:10px;}
.InvesLeft *{ font-size:14px;}
.InvesLeft .cont{ width:455px; margin:20px auto; overflow:hidden;}
.InvesLeft .cont li{line-height:30px;}
.InvesRight{ width:430px; float:left;margin-top:10px;}
.InvesRight *{ font-size:14px;}
.InvesRight .cont{ width:355px; margin:20px auto; overflow:hidden;}
.InvesRight .cont h1{ font-weight:bold; color:#5a5a5a;}
.InvesRight .cont p{ color:#5a5a5a;line-height:22px;}

.pageSearchCont{ width:920px; margin:0 auto;}
.pageSearchCont .para1{line-height:36px;padding-top:10px; color:#52565f;}
.pageSearchCont .para2{line-height:36px;color:#6a6a6a; font-size:14px; font-weight:bold;}
.pageSearchCont .dlist{padding-top:28px;}
.pageSearchCont .dlist dt{line-height:38px; font-size:14px; color:#ff7200; font-weight:bold;}
.pageSearchCont .dlist dd{line-height:25px;}

.pageSearch { overflow:hidden;zoom:1;padding-top:20px;}
.pageSearch .input{ width:785px; height:33px; border:solid 1px #dddddd; float:left; display:inline;margin-left:30px;text-indent:1em;}
.pageSearch .btn{ width:80px; height:30px;line-height:30px; text-align:center; background:url(../img/btn/button30.gif) no-repeat; float:left; display:inline; font-size:14px; color:#774f10; font-weight:bold;margin-left:5px; }
.pageHotSearch{ width:920px; margin:0 auto; height:97px;background:#ececec;margin-bottom:20px;}
.pageHotSearch .head{line-height:50px;padding:0 22px;}
.pageHotSearch .head strong{ font-size:14px; color:#484848;}
.pageHotSearch .head a{ padding:0 25px; color:#484849;}
.pageHotSearch .input{width:785px; height:33px; border:solid 1px #dddddd; float:left; display:inline;margin-left:22px; text-indent:1em;}
.pageHotSearch .btn{ width:80px; height:30px;line-height:30px; text-align:center; background:url(../img/btn/button30.gif) no-repeat; float:left; display:inline; font-size:14px; color:#774f10; font-weight:bold;margin-left:5px; }

.eva { width:917px; margin:0 auto; }
.eva .head { overflow:hidden; padding:20px 0; background:url(../img/bg/bg02.gif) repeat-x bottom; }
.eva .head .info { background:url(../img/right.gif) no-repeat left center; padding-left:50px; }
.eva .head .info .p1 { font-size:16px; color:#936a24; font-weight:bold; line-height:24px; }
.eva .head .info .p2 { color:#717171; line-height:20px; font-size:14px; }
.eva .cont .p1{ font-size:14px; color:#555555;line-height:40px; }
.eva .cont .share{ width:825px; margin:0 auto;}
.eva .cont .share .para{line-height:45px;padding-left:15px; font-size:18px;font-family:"微软雅黑"; color:#000; font-weight:bold; }
.eva .cont .share .box{padding:0 15px 20px 15px; overflow:hidden;zoom:1;}
.eva .cont .share .box .img{padding:2px; border:solid 1px #d8d8d8; float:left; display:inline;}
.eva .cont .share .box .text{ width:525px; float:left; display:inline; margin-left:10px;}
.eva .cont .share .box .text p{ color:#696969; font-size:14px;line-height:26px; font-weight:bold;}
.eva .cont .share .box .text .btn{ width:158px; height:29px;line-height:29px; text-align:center; font-weight:bold; display:block; float:left;background:url(../img/btn/button46.gif) no-repeat;margin-left:14px; font-size:12px; color:#5d5d5d; display:inline;}
.eva .cont .share .box .text .btnEara{padding-top:20px;}
.eva .cont .share .box .text .btn span{padding:2px 0 2px 18px;}
.eva .cont .share .box .text .btn span.tt{background:url(../img/icon/tt16x16.gif) no-repeat left center;}
.eva .cont .share .box .text .btn span.kaixin{background:url(../img/icon/kaixin16x16.gif) no-repeat left center;}
.eva .cont .share .box .text .btn span.sina{background:url(../img/icon/sina16x16.gif) no-repeat left center;}
.eva .ptb22 a{padding:0 33px; font-weight:bold;}

.plWin { width:462px; height:290px; position:absolute; top:85px; left:168px; }
.plWinBox { width:462px; height:289px; box-shadow:1px 1px 3px #000; background:#fff; }
.plWinBox .head { width:92%; margin:0 auto; overflow:hidden; zoom:1; height:37px; line-height:37px; padding-bottom:7px; background:url(../img/bg/bg02.gif) repeat-x bottom; }
.plWinBox .head strong { float:left; font-size:14px; color:#747474; padding-left:10px; }
.plWinBox .head span { float:right;  }
.plWinBox .icon{padding-left:20px; background:url(../img/icon/icon15.gif) no-repeat left center;}
.plWinBox .cont { width:425px; margin:0 auto; }
.plWinBox .cont .sel{line-height:35px;}
.plWinBox .cont label{padding-right:25px; }
.plWinBox .cont .textEara{ width:415px; height:112px; border:solid 1px #cecece;}
.plWinBox .cont .btn{ width:90px; height:30px;line-height:30px;background:url(../img/btn/button45.gif) no-repeat; color:#fc8331; text-align:center; display:block; font-weight:bold;}


.channelPinfen {}

.plWinBox .head { width:92%; margin:0 auto; overflow:hidden; zoom:1; height:37px; line-height:37px; padding-bottom:7px; background:url(../img/bg/bg02.gif) repeat-x bottom; }
.channelPinfen .head strong { float:left; font-size:14px; color:#747474; padding-left:10px; }
.channelPinfen .head span { float:right;  }
.channelPinfen .icon{padding-left:20px; background:url(../img/icon/icon15.gif) no-repeat left center;}
.channelPinfen .cont { width:90%; margin:0 auto; }
.channelPinfen .cont .sel{line-height:35px;}
.channelPinfen .cont label{padding-right:25px; }
.channelPinfen .cont .textEara{ width:100%; height:112px; border:solid 1px #cecece;}
.channelPinfen .cont .btn{ width:90px; height:30px;line-height:30px;background:url(../img/btn/button45.gif) no-repeat; color:#fc8331; text-align:center; display:block; font-weight:bold;}

.cartWin { width:602px; height:308px; position:absolute;  left:50%;margin-left:-301px; z-index:999; }
.cartWinBox { width:602px; height:308px; box-shadow:1px 1px 3px #000; background:url(../img/bg/bg21.gif) repeat-x top #fff; overflow:hidden; border:solid 1px #ccc;}
.cartWinBox .dataList { width:370px; float:left; }
.cartWinBox .dataList table { border-top:solid 1px #e2e2e2; border-left:solid 1px #e2e2e2; }
.cartWinBox .dataList table th { border-bottom:solid 1px #e2e2e2; border-right:solid 1px #e2e2e2; height:27px; }
.cartWinBox .dataList table td { border-bottom:solid 1px #e2e2e2; border-right:solid 1px #e2e2e2; height:56px; text-align:center; line-height:14px; }
.cartWinBox .dataList table td p { line-height:14px; }
.cartWinBox .dataList table td p.p { color:#489d14; }
.cartWinBox .dataList table td p.t { color:#ff5601; }
.cartWinBox .fnEara { float:right; width:215px;  }
.cartWinBox .fnEara table{padding-top:20px;}
.cartWinBox .fnEara td{line-height:30px; border-bottom:dotted 1px #ccc;padding:5px 0;}
.cartWinBox .fnEara td .input{ width:40px; height:22px;line-height:22px; border:solid 1px #d9d9d9;}

.cartWinBox2 { width:569px; height:270px; box-shadow:1px 1px 3px #000;background:#fff; overflow:hidden; border:solid 1px #ccc;}
.cartWinBox2 table td{padding:5px 0;}

.cartWinBox3{ width:569px; min-height:280px; height:auto!important; height:280px; box-shadow:1px 1px 3px #000;background:#fff; overflow:visible; border:solid 1px #ccc;padding:0 0 10px 0;}
.cartWinBox3 table td{padding:5px 0;}
.cartWinBox3 .button{ width:58px; height:26px;line-height:26px; text-align:center; color:#525252; font-weight:bold; border:none;background:url(../img/btn/button19.gif) no-repeat; cursor:pointer; display:block;}
.cartWinBox3 .part{ width:95%; margin:0 auto;padding:10px 0;}

.cartWinBox4 { width:569px; height:200px; box-shadow:1px 1px 3px #000;background:#fff; overflow:hidden; border:solid 1px #ccc; }
.cartWinBox4 table td{padding:5px 0;}
.changeInput{ background:none; border:1px solid #fff; height:24px;line-height:24px;}

/**vote options*/
.voteImg{height:16px; overflow:hidden;_zoom:1; float:left;}
.voteImg .voteNum{ display:block; height:16px;width:2px; float:right;}
.voteImg.voteOpt1{background:url(../img/icon/bgvote.gif) no-repeat 0 0;}
.voteImg.voteOpt1 .voteNum{background:url(../img/icon/bgvote.gif) no-repeat 0 -16px;}
.voteImg.voteOpt2{background:url(../img/icon/bgvote.gif) no-repeat 0 -32px;}
.voteImg.voteOpt2 .voteNum{background:url(../img/icon/bgvote.gif) no-repeat 0 -48px;}
.voteImg.voteOpt3{background:url(../img/icon/bgvote.gif) no-repeat 0 -64px;}
.voteImg.voteOpt3 .voteNum{background:url(../img/icon/bgvote.gif) no-repeat 0 -79px;}
.voteValue{line-height:16px;}