{% load static from staticfiles %}

<!DOCTYPE html>

<html lang="en-us"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Log System</title>
<link rel="stylesheet" type="text/css" href="{% static "logsystem/css/base.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "logsystem/css/changelists.css" %}">
  
<script type="text/javascript">
(function($) {
    var field;
})(django.jQuery);
</script>
  

<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>

<script type="text/javascript" src="{% static "logsystem/js/core.js" %}"></script>
<script type="text/javascript" src="{% static "logsystem/js/RelatedObjectLookups.js" %}"></script>
<script type="text/javascript" src="{% static "logsystem/js/jquery.js" %}"></script>
<script type="text/javascript" src="{% static "logsystem/js/jquery.init.js" %}"></script>
<script type="text/javascript" src="{% static "logsystem/js/actions.js" %}"></script>

<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        $("tr input.action-select").actions();
    });
})(django.jQuery);
</script>


<meta name="robots" content="NONE,NOARCHIVE">
</head>


<body class="change-list">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name">Log System</h1>

        </div>
    
        
        
    </div>
    <!-- END Header -->
    
<div class="breadcrumbs">

</div>

    <!-- Content -->
    <div id="content" class="flex">
        
    <div id="content-main">
    
    
    <div class="module" id="changelist">
      

<div id="toolbar"><form id="changelist-search" action="" method="get">
<div><!-- DIV needed for valid HTML -->
<label for="searchbar"><img src="{% static "logsystem/images/icon_searchbox.png" %}" alt="Search"></label>
from: <input type="text" size="13" name="start_time" value="{{start_time}}" id="start_time">
end: <input type="text" size="13" name="end_time" value="{{end_time}}" id="end_time">
thread: <input type="text" size="5" name="thread" value="{{thread}}" id="thread">
cotent: <input type="text" size="40" name="search_content" value="{{search_content}}" id="search_content">
<input type="submit" value="Search">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="?time_from_now=30">last 30s</a>

</div>
</form></div>
<script type="text/javascript">document.getElementById("searchbar").focus();</script>

      <form id="changelist-form" action="" method="post"><input type="hidden" name="csrfmiddlewaretoken" value="xVfLgTSnJqn82xrLZqVItAflvz1FS5K2">


<div class="results">
{% if pagination_required %}
<p class="paginator">
	{% if page.has_previous %}
		<a href="?page={{ page.previous_page_number }}&start_time={{start_time}}&end_time={{end_time}}&search_content={{search_content}}&thread={{thread}}">previous</a>
	{% endif %}

	<span class="current">
		Page {{ page.number }} of {{ page.paginator.num_pages }}.
	</span>

	{% if page.has_next %}
		<a href="?page={{ page.next_page_number }}&start_time={{start_time}}&end_time={{end_time}}&search_content={{search_content}}&thread={{thread}}">next</a>
	{% endif %}
	total {{page.paginator.count}} records
</p>
{% endif %}

<table id="result_list">
<thead>
<tr>


<th scope="col" class=" column-time">
   <div class="text">Time</div>
   <div class="clear"></div>
</th>
<th scope="col" class=" column-thread">
   
     
   
   <div class="text">Thread</div>
   <div class="clear"></div>
</th>
<th scope="col" class=" column-level">
   
     
   
   <div class="text">Level</div>
   <div class="clear"></div>
</th>
<th scope="col" class=" column-clazz">
   
     
   
   <div class="text">Class</div>
   <div class="clear"></div>
</th>
<th scope="col" class=" column-content">
   <div class="text">Content</div>
   <div class="clear"></div>
</th>
</tr>
</thead>
<tbody>
	
{% for r in page.object_list %}
<tr class="{% cycle 'row1' 'row2' %}">
	<td style='width:13%'>{{r.time}}</td>
	<td style='width:4%'>{{r.thread}}</td>
	<td style='width:4%'>{{r.level}}</td>
	<td style='width:17%'>{{r.clazz}}</td>
	<td >{{r.content}}</td>
</tr>
{% endfor %}

</tbody>
</table>
</div>

{% if pagination_required %}
<p class="paginator">
	{% if page.has_previous %}
		<a href="?page={{ page.previous_page_number }}&start_time={{start_time}}&end_time={{end_time}}&search_content={{search_content}}&thread={{thread}}">previous</a>
	{% endif %}

	<span class="current">
		Page {{ page.number }} of {{ page.paginator.num_pages }}.
	</span>

	{% if page.has_next %}
		<a href="?page={{ page.next_page_number }}&start_time={{start_time}}&end_time={{end_time}}&search_content={{search_content}}&thread={{thread}}">next</a>
	{% endif %}
	total {{page.paginator.count}} records
</p>
{% endif %}

      </form>
    </div>
  </div>

        
        <br class="clear">
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->


</body></html>
