

<span class="paginate-pages" onclick="Paginator.jumpToPage({{ pages }})" title="Page Jump">{{ pages }} Pages</span>
{% if show_first %}<span class="paginate-first"><a href="?page=1" title="First Page">&laquo;</a></span>{% endif %}
{% if has_previous %}<span class="paginate-previous"><a href="?page={{ previous }}" title="Previous Page">&lt;</a></span>{% endif %}
<ul class="pagination">
  <li><a href="#">&laquo;</a></li>
  {% for num in page_numbers %}
	  {% ifequal num page %}
		<li><a href="?page={{ num }}" class="active">{{ num }}</a></li>
	  {% else %}
		<li><a href="?page={{ num }}">{{ num }}</a></li>
	  {% endifequal %}
  {% endfor %}
  <li><a href="#">&raquo;</a></li>
</ul>

{% if has_next %}<span class="paginate-next"><a href="?page={{ next }}" title="Next Page">&gt;</a></span>{% endif %}
{% if show_last %}<span class="paginate-last"><a href="?page={{ pages }}" title="Last Page">&raquo;</a></span>{% endif %}


