{% extends "order/base_generic.html" %}
{% load static from staticfiles %}
{% load hengdian_extras %}

{% block title %}订单统计{% endblock %}

{% block content %}
<div style="width:100%">
			<div class="row">
				 <div class="col-md-12">
                     <div class="row">
                         <div class="col-md-2">
                             <div class="dropdown">
                                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown">
                                    选择时间跨度
                                    <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="change_dataset('success_order_count')">30天</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="change_dataset('total_people_num')">3个月</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="change_dataset('total_people_num')">半年</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="change_dataset('total_people_num')">1年</a></li>
                                  </ul>
                             </div>
                         </div>
                         <div class="col-md-2">
                             <div class="dropdown">
                                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu0" data-toggle="dropdown">
                                    选择时间单位
                                    <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu0">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="change_dataset('success_order_count')">按天</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="change_dataset('total_people_num')">按月</a></li>
                                  </ul>
                             </div>
                         </div>
                         <div class="col-md-2">
                             <div class="dropdown">
                                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                    选择指标指标
                                    <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="change_dataset('success_order_count')">订单数</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="change_dataset('total_people_num')">人数</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="change_dataset('total_money')">营收</a></li>
                                    <li role="presentation" class="divider"></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">手机订单</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">门票订单数</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">酒店订单数</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">套餐订单数</a></li>
                                  </ul>
                              </div>
                          </div>
                     </div>
				</div>
			</div>
			<div>
			<canvas id="canvas" height="300" width="600"></canvas>
			</div>
</div>
{% endblock %}
{% block javascript %}
	<script src="{% static "order/js/Chart.js" %}"></script>
	<script>

		window.onload = function() {
                $.ajax({
                     type: "GET",
                     url: "/order/json/order_statistic/",
                     data: {scale_time:'one_year', time_unit:'day', indicator:'people'},
                     dataType: "json",
                     success: function(data){
                                alert(data);
                                return;

                                /*
                                var lineChartData = {
                                        labels : [
                                        {% for label in x_labels %} "{{  label }}", {% endfor %}
                                        ],
                                        datasets : [
                                            {
                                                label: "2014",
                                                fillColor:   "red",
                                                strokeColor: "red",
                                                pointColor:  "red",
                                                pointStrokeColor: "#fff",
                                                pointHighlightFill: "#fff",
                                                pointHighlightStroke: "red",
                                                pointDot : false,
                                                data :
                                                [
                                                {% for item in data0 %}  {{item.people_count}}, {% endfor %}
                                                ]
                                            },
                                            {
                                                label: "2013",
                                                fillColor : "rgba(220,220,220,0.2)",
                                                strokeColor : "rgba(220,220,220,1)",
                                                pointColor : "rgba(220,220,220,1)",
                                                pointStrokeColor : "#fff",
                                                pointHighlightFill : "#fff",
                                                pointHighlightStroke : "rgba(220,220,220,1)",
                                                pointDot : false,
                                                data :
                                                [
                                                {% for item in data1 %}  {{item.people_count}}, {% endfor %}
                                                ]
                                            }
                                        ]}; */
                                  draw_lines();
                              }
                 });



        };
		
		function change_dataset(type) {
            //alert(window.myLine);
            window.myLine.destroy();
            if (type == 'total_people_num') {
                //alert('people_num');
                lineChartData.datasets[0].data = total_people_num_datasets[0];
                lineChartData.datasets[1].data = total_people_num_datasets[1];
            } else if (type == 'total_money') {
                lineChartData.datasets[0].data = total_money_datasets[0];
                lineChartData.datasets[1].data = total_money_datasets[1];
            } else {
                lineChartData.datasets[0].data = success_orders_datasets[0];
                lineChartData.datasets[1].data = success_orders_datasets[1];
            }
            draw_lines();
        }

        function draw_lines() {
            var ctx = document.getElementById("canvas").getContext("2d");
			window.myLine = new Chart(ctx).Line(lineChartData, {
                                                    responsive: true,
			                                        pointHitDetectionRadius: 1,
                                                    pointDot : {{ show_point }},
                                                    datasetFill : false,
                                                    tooltipTemplate: "1",
                                                    datasetStroke: false,
                                                    datasetFill: false,
                                                    legendTemplate : "123",
                                                    animation: false,
                                                    showScale: true,
                                                    scaleLineColor: "red",
                                                    scaleShowLabels: true,
                                                    // Interpolated JS string - can access value
                                                    scaleLabel: "<%=value%>",
                                                    multiTooltipTemplate: "<%= value/1000 %>"}
                                                    );
            /*
            canvas.onclick = function(evt){
                    var activePoints = window.myLine.getPointsAtEvent(evt);
                    alert(activePoints);
                     // => activePoints is an array of points on the canvas that are at the same position as the click event.
            };*/
        }

	</script>
{% endblock %}
