{% extends "order/base_generic.html" %}
{% load static from staticfiles %}
{% load hengdian_extras %}

{% block title %}订单统计{% endblock %}

{% block content %}
<div style="width:100%">
			<div class="row">
				 <div class="col-md-12">
                     <div class="row">
                         <div class="col-md-2">
                             <div class="dropdown">
                                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown">
                                    选择时间跨度
                                    <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="change_dataset('time_scale', '30days')">30天</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="change_dataset('time_scale', '3months')">3个月</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="change_dataset('time_scale', 'halfyear')">半年</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="change_dataset('time_scale', 'oneyear')">1年</a></li>
                                  </ul>
                             </div>
                         </div>
                         <div class="col-md-2">
                             <div class="dropdown">
                                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu0" data-toggle="dropdown">
                                    选择时间单位
                                    <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu0">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="change_dataset('time_unit', 'day')">按天</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="change_dataset('time_unit', 'month')">按月</a></li>
                                  </ul>
                             </div>
                         </div>
                         <div class="col-md-2">
                             <div class="dropdown">
                                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                    选择指标指标
                                    <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="change_dataset('indicator','success_order_count')">订单数</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="change_dataset('indicator', 'people_count')">人数</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="change_dataset('indicator', 'total_money')">营收</a></li>

                                  </ul>
                              </div>
                          </div>
                     </div>
				</div>
			</div>
			<div>
			<canvas id="canvas" height="300" width="800"></canvas>
			</div>
</div>
{% endblock %}
{% block javascript %}
	<script src="{% static "order/js/Chart.js" %}"></script>
	<script>
        var lineChartData = {
                datasets : [
                    {
                        label: "2014",
                        fillColor:   "red",
                        strokeColor: "red",
                        pointColor:  "red",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "red",
                        pointDot : false
                    },
                    {
                        label: "2013",
                        fillColor : "rgba(220,220,220,0.2)",
                        strokeColor : "rgba(220,220,220,1)",
                        pointColor : "rgba(220,220,220,1)",
                        pointStrokeColor : "#fff",
                        pointHighlightFill : "#fff",
                        pointHighlightStroke : "rgba(220,220,220,1)",
                        pointDot : false
                    }
                ]};
        var params = {};
		window.onload = function() {
                $.ajax({
                     type: "GET",
                     url: "/order/json/order_statistic",
                     data: {time_scale:'3months', time_unit:'day', indicator:'people_count'},
                     dataType: "json",
                     success: deal_resonse_json
                 });
        };

        function deal_resonse_json(respJSON) {
            if (respJSON.status != 0) {
                alert('服务器返回错误（status = ' + respJSON.status+", message = " +respJSON.message + ')');
                return;
            }
            params = respJSON.data.params;
            lineChartData.labels = respJSON.data.x_labels;
            lineChartData.datasets[0].data = respJSON.data.data0;
            lineChartData.datasets[0].data.pointDot = false;
            lineChartData.datasets[1].data = respJSON.data.data1;
            lineChartData.datasets[0].data.pointDot = false;

            draw_lines({responsive: true,
                        pointHitDetectionRadius: 1,
                        datasetFill : false,
                        pointDot: respJSON.data.pointDot});
        }
		
		function change_dataset(key, value) {
            //alert(window.myLine);
            window.myLine.destroy();
            params[key] = value;
            $.ajax({
                 type: "GET",
                 url: "/order/json/order_statistic",
                 data: {time_scale: params.time_scale, time_unit: params.time_unit, indicator: params.indicator},
                 dataType: "json",
                 success: deal_resonse_json
             });
        }

        function draw_lines(options) {
            var ctx = document.getElementById("canvas").getContext("2d");
			window.myLine = new Chart(ctx).Line(lineChartData, options );
            /*
            canvas.onclick = function(evt){
                    var activePoints = window.myLine.getPointsAtEvent(evt);
                    alert(activePoints);
                     // => activePoints is an array of points on the canvas that are at the same position as the click event.
            };*/
        }

	</script>
{% endblock %}
