{% extends "order/base_generic.html" %}
{% load hengdian_extras %}

{% block title %}订单查询{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">订单列表</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
	<div class="row">
		<!-- /.panel-heading -->
		<div class="panel-body">
			
			<form method="get" action="" id="search_form">
			<div class="row">
					<!-- <span>预达日期:</span> <input id="comedate_start" type="text" /> 到 <input id="comedate_end" type="text" /> -->
					 <div class="col-lg-6">
						<div class="input-group">
							  <input type="text" class="form-control" id="search_content" name="search_content">
							  <span class="input-group-btn">
									<button class="btn btn-primary" type="button" id="search_button">查找</button>
									<a href="#" class="btn btn-default" role="button">高级搜索</a>
							  </span>
							
					   </div><!-- /input-group -->
			         </div><!-- /.col-lg-6 -->
			</div><!-- /.row -->
			</form>
			<div class="table-responsive">
				
				{% paginator 5 %}
				
				<table class="table table-striped table-bordered table-hover" style="margin: 0 " id="orders">
					<thead>
						<tr>
							<td align="center" width="6%">
								订单号
							</td>
							<td align="center" width="10%">
								预订时间
							</td>
							<td align="center" width="6%">
								预达日期
							</td>
							<td align="center" width="30%">
								描述
							</td>
							<td align="right" width="4%">
								总价
							</td>
							<td align="right" width="4%">
								预付
							</td>
							<td align="center" width="6%">
								预订人
							</td>
							<td align="center" width="5%">
								状态
							</td>
							<td align="center" width="5%">
								操作
							</td>
						</tr>
					</thead>
					<tbody>
						{% for r in orders.object_list %}
						<tr class="{% cycle 'odd' 'even'%}">
							<td align="center">
								{{r.SellID}}
							</td >
							<td align="center">
								{{r.DDate}} {{r.LTime}}
							</td>
							<td align="center">
								{{r.DComeDate}}
							</td>
							<td align="left"style="word-break: break-all; word-wrap: break-word;">
								{{r.DProDescript}}
							</td>
							<td align="right">
								{{r.DAmount|floatformat }}
							</td>
							<td align="right">
								{{r.DAdvanceAmount|floatformat }}
							</td>
							<td align="center">
								
								{% if r.UserID == '1111111111' %}
									{{r.visitoruserinfo.DName}}
								{% else %}
									{{r.orderuser.DName}}
								{% endif%}
							</td>
							<td align="center">
								{{r.status_msg}}
							</td>
							<td align="center">
								
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				
				{% paginator 5 %}
			</div>
			<!-- /.panel-body -->
			
			
		</div>
		<!-- /.col-lg-12 -->
	</div>
            <!-- /.row -->
{% endblock %}



{% block javascript %}
    <script>
    //$(document).ready(function() {
    //   $('#orders').dataTable();
    //});
    $("#search_button").click(function(){
		$("#search_form").submit();
	});
    </script>
{% endblock %}




