{% spaceless %}

<ul class="pagination" style="margin: 0">
  
  {% if has_previous %}
    <li><a href="?page=1&{{search_params}}">&laquo;</a></li>
	<li><a href="?page={{ previous }}&{{search_params}}">&lt;</a></li>
  {% else %}
	<li class="disabled"><span>&laquo;</span></li>
	<li class="disabled"><span>&lt;</span></li>
  {% endif %}

  
  {% for num in page_numbers %}
	  {% ifequal num page %}
		<li class="active"><a href="?page={{ num }}&{{search_params}}" >{{ num }}  <span class="sr-only">(current)</span> </a></li>
	  {% else %}
		<li><a href="?page={{ num }}&{{search_params}}">{{ num }}</a></li>
	  {% endifequal %}
  {% endfor %}

  {% if has_next %}
	<li><a href="?page={{ next }}&{{search_params}}">&gt;</a></li>
	<li><a href="?page={{ pages }}&{{search_params}}">&raquo;</a></li>
  {% else %}
	<li class="disabled"><span>&gt;</span></li>
	<li class="disabled"><span>&raquo;</span></li>
  {% endif %}
  <li  class="disabled"><span>总共{{total_records}}条数据</span></li>
  
</ul>

{% endspaceless %}
