{% extends "order/base_generic.html" %}
{% load static from staticfiles %}
{% load hengdian_extras %}

{% block title %}订单统计{% endblock %}

{% block content %}
<div style="width:100%">
			 <div class="row">
                <div class="col-md-6 labeled-chart-container" >
                     <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                            选择年份
                          <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            {% for data in paytype_datasets %}
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="paytype_date_change('{{ data.theyear }}')">{{ data.theyear }}</a></li>
                            {% endfor %}
                          </ul>
                     </div>
                    <div class="canvas-holder">
                        <canvas id="canvas0" height="300" width="600"></canvas>
                    </div>
                </div>

                <div class="col-md-6 labeled-chart-container" >
                     <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                            选择年份
                          <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            {% for data in tickettype_datasets %}
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="tickettype_date_change('{{ data.theyear }}')">{{ data.theyear }}</a></li>
                            {% endfor %}
                          </ul>
                     </div>
                    <div class="canvas-holder">
                        <canvas id="canvas1" height="300" width="600"></canvas>
                    </div>
                </div>
            </div>


</div>
{% endblock %}
{% block javascript %}
	<script src="{% static "order/js/Chart.js" %}"></script>
	<script>
        var paytype_datasets = {
        {% for data in paytype_datasets %}
            '{{ data.theyear }}' : [{{ data.paywhencome }}, {{ data.paywhenorder }}],
        {% endfor %}
        }
		var ticket_order_paywhencome_data = [
				{
					value: {{paytype_datasets.0.paywhencome}},
					color:"#F7464A",
					highlight: "#FF5A5E",
					label: "到付"
				},
				{
					value: {{ paytype_datasets.0.paywhenorder }},
					color: "#46BFBD",
					highlight: "#5AD3D1",
					label: "预付"
				}
			];

        var ticketype_data = [
				{
					value: {{tickettype_datasets.0.single_order_count}},
					color:"#F7464A",
					highlight: "#FF5A5E",
					label: "单票"
				},
				{
					value: {{tickettype_datasets.0.combine_order_count }},
					color: "#46BFBD",
					highlight: "#5AD3D1",
					label: "组合票"
				},
                {
					value: {{tickettype_datasets.0.union_order_count }},
					color: "#FDB45C",
					highlight: "#FDB45C",
					label: "联票"
				}
			];

		window.onload = function() {
            draw_paytype_graph();
            draw_tickettype_graph();
        };

        function paytype_date_change(year) {
            ticket_order_paywhencome_data[0].value = paytype_datasets[year][0];
            ticket_order_paywhencome_data[1].value = paytype_datasets[year][1];
            window.myPie.destroy();
            draw_paytype_graph();
        }


        function draw_paytype_graph() {
            var ctx = document.getElementById("canvas0").getContext("2d");
			window.myPie = new Chart(ctx).Pie(ticket_order_paywhencome_data, {
                    }
            );
            var legendHolder = document.createElement('div');
		    legendHolder.innerHTML = myPie.generateLegend();
		    // Include a html legend template after the module doughnut itself
		    document.getElementById("canvas0").parentNode.parentNode.appendChild(legendHolder.firstChild);
        }

        function draw_tickettype_graph() {
            var ctx = document.getElementById("canvas1").getContext("2d");
			window.tickettypePie = new Chart(ctx).Pie(ticketype_data, {
                    }
            );
            var legendHolder = document.createElement('div');
		    legendHolder.innerHTML = tickettypePie.generateLegend();
		    // Include a html legend template after the module doughnut itself
		    document.getElementById("canvas1").parentNode.parentNode.appendChild(legendHolder.firstChild);
        }

	</script>
{% endblock %}
