{% extends "order/base_generic.html" %}
{% load static from staticfiles %}
{% load hengdian_extras %}

{% block title %}订单统计{% endblock %}

{% block content %}
<div style="width:100%">
			<div class="row">
				 <div class="col-md-12">
                     <div class="row">
                         <div class="col-md-3">
                             <div class="dropdown">
                                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown">
                                    选择年份
                                    <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="change_dataset('time_scale', '30days')">2014</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="change_dataset('time_scale', '3months')">2013</a></li>
                                  </ul>
                             </div>
                         </div>
                         <div class="col-md-3">
                             <div class="dropdown">
                                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown">
                                    按省份还是城市
                                    <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="change_dataset('time_scale', '30days')">省份</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="change_dataset('time_scale', '3months')">城市</a></li>
                                  </ul>
                             </div>
                         </div>
                         <div class="col-md-3">
                             <div class="dropdown">
                                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                    选择指标指标
                                    <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="change_dataset('indicator','success_order_count')">营收</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="change_dataset('indicator', 'people_count')">人数</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="change_dataset('indicator', 'total_money')">订单数</a></li>
                                  </ul>
                              </div>
                          </div>
                     </div>
				</div>
			</div>
			<div class="row">
                <div class="col-md-6 labeled-chart-container">
                    <div class="canvas-holder">
                         <canvas id="canvas" height="150" width="300"></canvas>
                    </div>
                </div>
                <div class="col-md-6 labeled-chart-container">
                    <div class="canvas-holder">
                         <canvas id="canvas1" height="150" width="300"></canvas>
                    </div>
                </div>
			</div>
            <div class="row">
                <div class="col-md-6 labeled-chart-container">
                    <table id="table_province">

                    </table>
                </div>
                <div class="col-md-6 labeled-chart-container">
                    <table id="table_city">

                    </table>
                </div>
            </div>
</div>
{% endblock %}
{% block javascript %}
	<script src="{% static "order/js/Chart.js" %}"></script>
	<script>
        var datasets = {}
        var datasets1 = {}
        var params = {};
		window.onload = function() {
                $.ajax({
                     type: "GET",
                     url: "/order/json/ts_network_order_area",
                     data: {year:'3months', indicator:'people_count'},
                     dataType: "json",
                     success: deal_resonse_json
                 });
        };

        function deal_resonse_json(respJSON) {
            if (respJSON.status != 0) {
                alert('服务器返回错误（status = ' + respJSON.status+", message = " +respJSON.message + ')');
                return;
            }
            params = respJSON.data.params;
            datasets = respJSON.data.datasets;
            datasets1 = respJSON.data.datasets1;

            draw_lines({responsive: true,
                        pointHitDetectionRadius: 1,
                        datasetFill : false,
                        pointDot: respJSON.data.pointDot});
        }
		
		function change_dataset(key, value) {
            //alert(window.myLine);
            window.pie.destroy();
            params[key] = value;
            $.ajax({
                 type: "GET",
                 url: "/order/json/ts_order_stat",
                 data: {time_scale: params.time_scale, time_unit: params.time_unit, indicator: params.indicator, accumulative: params.accumulative},
                 dataType: "json",
                 success: deal_resonse_json
             });
        }

        function draw_lines(options) {
            var ctx = document.getElementById("canvas").getContext("2d");
			window.pie = new Chart(ctx).Pie(datasets, options );

            var legendHolder = document.createElement('div');
		    legendHolder.innerHTML = pie.generateLegend();
		    // Include a html legend template after the module doughnut itself
		    document.getElementById("canvas").parentNode.parentNode.appendChild(legendHolder.firstChild);

            var table1 = document.getElementById('table_province');
            for(var i = 0; i < datasets.length; i++ ) {
                var tr = document.createElement('tr');
                var td1 = document.createElement('td');
                td1.innerHTML = datasets[i].label;
                var td2 = document.createElement('td');
                td2.innerHTML = datasets[i].value;
                tr.appendChild(td1);
                tr.appendChild(td2);
                table1.appendChild(tr);
            }

            ctx1 = document.getElementById("canvas1").getContext("2d");
			window.pie1 = new Chart(ctx1).Pie(datasets1, options );

            legendHolder = document.createElement('div');
		    legendHolder.innerHTML = pie1.generateLegend();
		    // Include a html legend template after the module doughnut itself
		    document.getElementById("canvas1").parentNode.parentNode.appendChild(legendHolder.firstChild);
        }

	</script>
{% endblock %}
